<div class="slide-page">
    <div class="vehicle-card">
        <div class="vehicle-card-title">
            <span>Find your right car</span>
        </div>
        <div class="vehicle-card-buttons">
            <div class='card-button'>
                <button>New Car</button>
            </div>
            <div class='card-button'>
                <button>Used Car</button>
            </div>
        </div>
        <div class="vehicle-card-select">
            <div class="select-button">
                <input type="radio" checked="checked" name='radio' />
                <span>By Budget</span>
            </div>
            <div class="select-button">
                <input type="radio" name='radio' />
                <span>By Brand</span>
            </div>
        </div>
        <div class="vehicle-card-input">
            <div class="vehicle-card-input-box">
                <input type="input" placeholder="Select Brand" />
                <mat-icon fontIcon="arrow_drop_down"></mat-icon>
            </div>
            <div class="vehicle-card-input-box">
                <input type="input" placeholder="Select Model" />
                <mat-icon fontIcon="arrow_drop_down"></mat-icon>
            </div>
        </div>
        <div class="vehicle-card-search">
            <button>Search</button>
        </div>
        <div class="vehicle-card-advancedSearch">
            <span>Advanced Search</span>
            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
        </div>
    </div>
    <div class="slide-container">
        <!-- <Slide>-->
        <div class="each-slide">
            <img src='https://stimg.cardekho.com/images/uploadimages/1623651873958/Desktop-Banner.jpg' alt="" />
        </div>
        <!-- <div class="each-slide">
            <img src='https://stimg.cardekho.com/images/uploadimages/1630072524986/WEBCD.jpg' alt=""/>
        </div> -->
        <!-- </Slide> -->
    </div>
</div>