<!-- <div id="root">
  <div class="main-page">
    <ovm-navbar></ovm-navbar> -->

<ovm-slider></ovm-slider>

<div class="newtech" style="margin-top: 20px">
  <div class="newtech-container" style="margin-top: 20px">
    <div class="newtech-options">
      <div class="newtechitem-container">
        <div>
          <span>MG Astor</span>
        </div>
        <div>
          <mat-icon
            fontIcon="keyboard_arrow_right"
            style="color: orangered"
          ></mat-icon>
        </div>
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
      <div
        class="newtechitem-container"
        style="border-right: 1px solid rgb(204, 204, 204)"
      >
        <div>
          <span>MG Astor</span>
        </div>
        <!-- <div>
                            <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
                        </div> -->
      </div>
    </div>
    <div class="newtech-details">
      <div class="newtech-details-container">
        <div class="newtech-details-left">
          <div class="newtech-details-left-title">
            <span>It’s an experience unlike before</span>
          </div>

          <div class="newtech-details-left-points">
            <div>Man. Machine. And AI.</div>
            <div>MG Astor. The AI Affair.</div>
          </div>

          <div class="newtech-details-left-description">
            <span>MG Astor. The AI Affair.</span>
          </div>

          <div class="newtech-details-left-button">
            <div>
              <button>Know More</button>
            </div>
            <div>
              <img
                src="https://stimg.cardekho.com/images/uploadimages/1631678830268/logo.png"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="newtech-details-right">
          <img
            src="https://stimg.cardekho.com/images/uploadimages/1631682085424/1.gif"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ovm-car-listing></ovm-car-listing>
<app-featured></app-featured>
<app-popular></app-popular>
<!-- <ovm-footer></ovm-footer>
  </div>
</div> -->
