<div class="footer">
    <div class="footer-header">
        <div class="footer-header-info">
            <div class="footer-header-info-left">
                <!-- <BadgeOutlined/> -->
            </div>
            <div class="footer-header-info-right">
                <div class="footer-header-info-right-title">
                    <span>India’s #1</span>
                </div>
                <div class="footer-header-info-right-description">
                    <span>Largest Auto portal</span>
                </div>
            </div>
        </div>
        <div class="footer-header-info">
            <div class="footer-header-info-left">
                <!-- <CarRentalOutlined/> -->
            </div>
            <div class="footer-header-info-right">
                <div class="footer-header-info-right-title">
                    <span>Car Sold</span>
                </div>
                <div class="footer-header-info-right-description">
                    <span>Every 4 minute</span>
                </div>
            </div>
        </div>
        <div class="footer-header-info">
            <div class="footer-header-info-left">
                <!-- <LocalOfferOutlined/> -->
            </div>
            <div class="footer-header-info-right">
                <div class="footer-header-info-right-title">
                    <span>Offers</span>
                </div>
                <div class="footer-header-info-right-description">
                    <span>Stay updated pay less</span>
                </div>
            </div>
        </div>
        <div class="footer-header-info">
            <div class="footer-header-info-left">
                <!-- <CompareOutlined/> -->
            </div>
            <div class="footer-header-info-right">
                <div class="footer-header-info-right-title">
                    <span>Compare</span>
                </div>
                <div class="footer-header-info-right-description">
                    <span>Decode the right car</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="footer-main-overview">
            <div class="footer-main-overview-title">
                <span>OVERVIEW</span>
            </div>
            <div class="footer-main-overview-items">
                <div>About us</div>
                <div>FAQs</div>
                <div>Privacy Policy</div>
                <div>Terms & Conditions</div>
                <div>Corporate Policies</div>
            </div>
        </div>
        <div class="footer-main-others">
            <div class="footer-main-others-title">
                <span>OTHERS</span>
            </div>
            <div class="footer-main-others-items">
                <div>Advertise with Us</div>
                <div>Careers</div>
                <div>Customer Care</div>
            </div>
        </div>
        <div class="footer-main-connect">
            <div class="footer-main-connect-title">
                <span>CONNECT WITH US</span>
            </div>
            <div class="footer-main-connect-items">
                <div>1800 200 3000 (Toll-Free)</div>
                <div>support</div>
                <div>Dealer solutions</div>
                <div>Used Cars Business</div>
                <div>Contact Us</div>
                <div>Feedback</div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-copyright-left">
            <span>© 2021 Girnar Software Pvt. Ltd.</span>
        </div>
        <div class="footer-copyright-right">
            <div class="footer-copyright-right-item">
                <img src="https://stimg.cardekho.com/pwa/img//gaadi-new-logo.svg" alt="" />
            </div>
            <div class="footer-copyright-right-item">
                <img src="https://stimg.cardekho.com/pwa/img//zigwheels.png" alt="" />
            </div>
            <div class="footer-copyright-right-item">
                <img src="https://stimg.cardekho.com/pwa/img//bikedekho.png" alt="" />
            </div>
            <div class="footer-copyright-right-item">
                <img src="https://stimg.cardekho.com/pwa/img//logo/id-main-logo.svg" alt="" />
            </div>
        </div>
    </div>
</div>