<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-header">
      <div class="navbar-header-left">
        <div class="navbar-header-left-logo">
          <img src="ovmlogo.png" alt="" />
        </div>
        <div class="navbar-header-left-search">
          <div class="navbar-input">
            <input
              type="text"
              placeholder="Search Cars or brands eg. Swift, or Maruti"
            />
          </div>
          <div class="navbar-search-icon">
            <mat-icon fontIcon="search"></mat-icon>
          </div>
        </div>
      </div>
      <div class="navbar-header-right">
        <div class="languages">
          <div class="language-name">
            <p>English</p>
          </div>
          <div class="language-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
        </div>
        <div class="login-register">
          @if (!isObjectEmpty(loggedInUserDetails)) {
          <c-dropdown>
            <button cButton cDropdownToggle class="login-button">
              <span>
                <mat-icon fontIcon="account_circle"></mat-icon>
              </span>
              <p>{{ loggedInUserDetails.firstname }}</p>
            </button>
            <ul cDropdownMenu>
              <li><a [routerLink]="['/profile']" cDropdownItem>Profile</a></li>
              <li>
                <a [routerLink]="['/wishlist']" cDropdownItem>Wishlist</a>
              </li>
              <li><a [routerLink]="['/cart']" cDropdownItem>Cart</a></li>
              <li><a [routerLink]="['/orders']" cDropdownItem>Orders</a></li>
              <li>
                <a [routerLink]="['/post-car']" cDropdownItem>Post a Car</a>
              </li>
              <li><a (click)="openLogoutModal()" cDropdownItem>Logout</a></li>
            </ul>
          </c-dropdown>
          } @else {
          <button (click)="openLoginModal()" class="login-button">
            <span>
              <mat-icon fontIcon="account_circle"></mat-icon>
            </span>
            <p>Login/Register</p>
          </button>
          }
        </div>
      </div>
    </div>
    <div class="navbar-footer">
      <div class="navbar-footer-left">
        <div class="navbar-footer-left-categories">
          <div class="navbar-footer-left-categories-name">
            <p>NEW CAR</p>
          </div>
          <div class="navbar-footer-left-categories-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
          <div class="navbar-footer-left-categories-name">
            <p>USED CAR</p>
          </div>
          <div class="navbar-footer-left-categories-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
          <div
            class="navbar-footer-left-categories-name"
            style="margin-right: '18px'"
          >
            <p>SELL CAR</p>
          </div>
          <div
            class="navbar-footer-left-categories-name"
            style="margin-right: '15px'"
          >
            <p>COMPARE CARS</p>
          </div>
          <div class="navbar-footer-left-categories-name">
            <p>NEWS & REVIEWS</p>
          </div>
          <div class="navbar-footer-left-categories-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
          <div class="navbar-footer-left-categories-name">
            <p>CARDEKO VENTURES</p>
          </div>
          <div class="navbar-footer-left-categories-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
          <div class="navbar-footer-left-categories-name">
            <p>MORE</p>
          </div>
          <div class="navbar-footer-left-categories-dropmenu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
        </div>
      </div>
      <!-- <div class="navbar-footer-right">
        <div class="navbar-footer-right-city">
          <div class="navbar-location">
            <mat-icon fontIcon="location_on"></mat-icon>
          </div>
          <div class="navbar-select">
            <span> Select City </span>
          </div>
          <div class="navbar-dropdown">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
